data/*
!data/anim/animation.0.csv
!data/img/
!data/anim/.gitignore
!data/reports/.gitignore
debug.log
build/*
!build/.gitignore
!data/df_simu.csv
slides/*
!slides/main.tex
!slides/main.pdf
!slides/Sections
!slides/Figures
!slides/bibliography

.idea/*
cmake-build-debug/*
cmake-build-debug-atlas/*


venv/*